<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/Sa-Senai-terceirao gabriel (1)/Sa-Senai-terceirao/src/main/resources/static/css/estilo4.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação
    </title>
</head>
<body>

<div>
    <h2>coloque seu email para recuperação</h2>
    <input type="text" placeholder="E-mail">
</div>
    
</body>
</html>